<section class="section-contact">
  <h2 class="attl-title">Contact Us</h2>
  <p>
    Category
  </p>
  <select form="contact-form" name="category" id="contact-category" class="browser-default">
    <option value="feedback">Feedback</option>
    <option value="licensing">Licensing</option>
  </select>
  <form id="contact-form" ng-submit="processForm()">
    <label for="name">Your name *</label>
    <input type="text" name="name" ng-model="formData.name"/>
    <label for="organization">Organization</label>
    <input type="text" name="organization" ng-model="formData.organization"/>
    <label for="email">Your email address *</label>
    <input type="text" name="email" ng-model="formData.email"/>
    <label for="subject">Subject *</label>
    <input type="text" name="subject" ng-model="formData.subject"/>
    <label for="message">Message *</label>
    <input type="text" name="message" id="contact-message" ng-model="formData.message"/>
    <input type="submit" />
  </form>
</section>
<pre>
    {{ formData }}
</pre>
